<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <button class="button button-positive button-icon ion-ios-arrow-back" ng-click="hideItems()" />
    <h1 class="title">{{headerText}}</h1>
    <button class="button button-positive button-icon ion-checkmark" ng-show="multiSelect" ng-click="validate()" />
  </ion-header-bar>
  
  <ion-content>
    <ion-list>
      <ion-item class="item-checkbox" ng-if="multiSelect" ng-repeat="item in items">
        <label class="checkbox">
          <input type="checkbox" ng-checked="item.checked" ng-model="item.checked">
        </label>
        {{item.Name}}
      </ion-item>
      <label class="item" ng-click="validate(item)" ng-if="!multiSelect" ng-repeat="item in items">
        {{item.Name}}
      </label>
    </div>
  </ion-content>
</ion-modal-view>

